@import "tailwindcss";

@layer utilities {
  .radial-gradient-orange {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 253, 250, 1) 0%,
      rgba(255, 249, 240, 0.8) 60%,
      rgba(250, 233, 219, 0.6) 100%
    );
  }
}

@theme {
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
  --color-primary: #222222;
}

body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--color-primary);
}
